.select2-results ul li:hover {
  color: #3259fc !important;
}

.select2-results__option {
  padding: 0;
  padding-left: 16px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 400;
}

.select2-dropdown {
  border: unset;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #3259fc;
}

.select2-container--default .select2-results__option--selected {
  background-color: unset;
}

.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus.select2-container--open {
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #ffffff;
  color: #001136;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 158px;
  -webkit-box-shadow: 2px 18px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 18px 15px rgba(0, 0, 0, 0.1);
  padding-top: 6px;
}

.select2-dropdown.select2-dropdown--below {
  width: 192px !important;
}

.select2-dropdown.select2-dropdown--above {
  width: 192px !important;
}

.select2-container--default .select2-selection--single {
  border: none;
  margin-right: 6px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  background-image: url(../images/arrow-down-blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none !important;
  height: 11px !important;
  width: 11px !important;
  margin: auto !important;
  top: 19px !important;
  left: 4px !important;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-search__field {
  display: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

.btn-secondary.focus,
.btn-secondary:focus {
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

.slider {
  margin-left: -220px !important;
}

.slick-slide {
  margin: 0px 7px !important;
}

.slick-list.draggable {
  padding: 0px 188px !important;
}

.slider .slick-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slick-slide.slick-current.slick-active.slick-center {
  width: 784px !important;
  height: 514px;
  position: relative;
}

.slick-slide.slick-current.slick-active.slick-center .slider-img--description {
  position: absolute;
  top: 0;
  width: 100%;
}

.slick-slide.slick-current.slick-active.slick-center
  .slider-img--description
  .description-top
  h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 33px;
  text-align: left;
  font-size: 16px;
  position: absolute;
  top: 1px;
  left: 53px;
}

.slick-slide.slick-current.slick-active.slick-center
  .slider-img--description
  .description-top
  img {
  width: 20px;
  height: 22px;
}

.slick-slide.slick-current.slick-active.slick-center
  .slider-img--description
  .description-top
  .new-price {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 33px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 24px;
  left: 53px;
}

.slick-slide.slick-current.slick-active.slick-center
  .slider-img--description
  .description-top {
  position: relative;
}

.slick-slide.slick-current.slick-active.slick-center
  .slider-img--description
  .description-top::before {
  content: "";
  background-image: url(../images/bookmark.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -17px;
  left: 18px;
  width: 197px;
  height: 137px;
}

.slick-slide.slick-current.slick-active.slick-center
  .slider-img--description
  .description-top
  .old-price {
  color: #ffffff;
  font-size: 12px;
  opacity: 0.5;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 33px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 47px;
  left: 53px;
}

.slick-slide.slick-current.slick-active.slick-center
  .slider-img--description
  .description-top
  .old-price
  img {
  width: 8px;
  height: 9px;
}

.slider .slick-center {
  height: 451px;
}

.slick-slide.slick-active {
  width: 514px !important;
  height: 432px;
}

.slick-slide.slick-current.slick-active.slick-center
  .slider-img--description
  .description-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 448px;
}

.slick-slide.slick-active .slider-img--description {
  display: none;
}

.slick-slide.slick-current.slick-active.slick-center .slider-img--description {
  display: block;
}

.owl-carousel.owl-drag .owl-item {
  width: 435px !important;
  margin-right: 119px !important;
}

.owl-carousel .owl-stage-outer {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slider-img--description .description-bottom svg {
  width: 21px;
  height: 21px;
  padding-bottom: 4px;
}

.slider-img--description .description-bottom--left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-top: -54px;
}

.slider-img--description .description-bottom--left ul li:nth-child(2) {
  padding-left: 30px;
}

.slider-img--description .description-bottom--left ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider-img--description .description-bottom--left ul li span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 33px;
  text-align: left;
}

.slider-img--description .description-bottom--right {
  margin-top: -32px;
}

.slider-img--description .description-bottom--right a {
  color: #ffffff;
  border-radius: 10px;
  background-color: #3259fc;
  padding: 10px 24px;
  margin-right: 20px;
}

.slider-img--description .description-bottom--right a svg {
  fill: #ffffff;
  width: 22px;
  height: 11px;
  margin: 0;
  padding: 0;
  margin-left: 4px;
}

.slick-prev {
  left: 46%;
  border-radius: 10px;
  border: 1px solid #1f2e4e;
  height: 100px;
  width: 34px;
  height: 34px;
  top: 104%;
  z-index: 99;
}

.slick-next {
  right: 32%;
  border-radius: 10px;
  border: 1px solid #1f2e4e;
  height: 100px;
  width: 34px;
  height: 34px;
  top: 104%;
}

.slick-dots li button {
  font-size: unset;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: unset;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-next:hover,
.slick-prev:hover {
  background-color: #001136;
}

.slick-next:hover:before,
.slick-next:hover:after,
.slick-prev:hover:before,
.slick-prev:hover:after {
  color: #ffffff;
}

.slick-dots {
  position: absolute;
  top: 102%;
  left: 7%;
  height: 0;
}

.slick-slide {
  height: 382px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.owl-nav button {
  background-color: red !important;
}

.owl-nav button {
  width: 10px;
  height: 10px;
  background-color: black !important;
}

#morefiltre .filters .search {
  margin-left: 17px !important;
}

#morefiltre .filters .form-input {
  margin-left: 8px !important;
}

.dropdown .dropdown-item:hover {
  background-color: unset !important;
}

.dropdown .dropdown-item input {
  font-weight: unset !important;
  color: #000 !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #e4e2e2;
  border-radius: 50%;
  background: #3259fc;
}

.ui-slider-horizontal {
  height: 0.2em;
  border: 1px solid #ccc;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.6em;
}

.ui-slider-horizontal .ui-slider-range {
  background: #3259fc;
}
