@font-face {
  font-family: "Gotham";
  src: url(../fonts/Gotham-Black);
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
header,
footer {
  width: 100%;
}

#services {
  background: url("../images/services/servicesBg.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  .main__services__bg {
    color: #001136;
    font-style: normal;
    letter-spacing: normal;
    .services__title {
      color: #001136;
      h1 {
        font-size: 55px;
        opacity: 0.3;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #fb7d76;
        margin-bottom: -32px;
      }
      h2 {
        position: relative;
        font-size: 25px;
        font-weight: 400;
      }
      h6 {
        font-size: 16px;
      }
    }
    .main__title {
      margin-top: 104px;
      h1 {
        font-size: 35px;
        font-weight: 400;
        color: #3259fc;
      }
      p {
        font-size: 18px;
        margin-top: 12px;
        opacity: 0.45;
        color: #001136;
      }
    }
  }
}
#what__we__do {
  width: 100%;
  height: 100%;
  background: url("../images/services/Group12.png");
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 100%;
  .what__we__do__wrapper {
    .works {
      padding-bottom: 112px;
      .line__items {
        position: relative;
        text-align: center;
        img {
          max-width: 100%;
        }
        .work__item {
          position: absolute;
          h4 {
            font-size: 24px;
            font-weight: bold;
            color: #001136;
          }
          p {
            color: #001136;
            opacity: 0.45;
            font-size: 16px;
            margin-top: 7px;
          }
          .circle__white {
            position: absolute;
            border: 0.5px solid;
            width: 30px;
            height: 30px;
            background: #ffffff;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9;
            .circle__inner {
              width: 22px;
              height: 22px;
              border-radius: 50px;
            }
          }
        }
        .work__item__active {
          h4 {
            color: #3259fc;
          }
          .circle__white {
            border-color: #3259fc;
            .circle__inner {
              background: #3259fc;
            }
          }
        }
        .work__item__one {
          top: -10px;
          left: -50px;
          text-align: end;
          .circle__white {
            top: 0;
            right: -35px;
          }
        }
        .work__item__two {
          top: 145px;
          left: 250px;
          text-align: left;
          .circle__white {
            top: -40px;
            left: 0;
          }
        }
        .work__item__three {
          top: 0;
          text-align: left;
          right: 300px;
          .circle__white {
            bottom: -40px;
          }
        }
        .work__item__four {
          top: 200px;
          text-align: left;
          right: -50px;
          .circle__white {
            top: 0;
            left: -40px;
          }
        }
        .work__item__five {
          right: 0px;
          margin-top: 10px;
          text-align: left;
          .circle__white {
            top: -30px;
            left: 0;
          }
        }
        .work__item__six {
          bottom: 0;
          right: 300px;
          text-align: left;
          .circle__white {
            bottom: -15px;
            left: 0;
          }
        }
        .work__item__seven {
          left: 50px;
          text-align: left;
          .circle__white {
            right: -30px;
            top: -15px;
          }
        }
        .work__item__two,
        .work__item__three,
        .work__item__four,
        .work__item__five,
        .work__item__six,
        .work__item__seven,
        .work__item__seven {
          .circle__white {
            border-color: rgba(0, 17, 54, 0.45);
            .circle__inner {
              background: rgba(0, 17, 54, 0.45);
            }
          }
        }
      }
    }
    .free__services {
      padding-top: 112px;
      padding-bottom: 100px;
      .free__services__title {
        h2 {
          font-size: 35px;
          color: #001136;
        }
        p {
          font-size: 16px;
          margin-top: 24px;
          color: #001136;
          opacity: 0.45;
        }
      }
      .free__services__items {
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .services__item {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 37px 38px 38px 63px;
          .inner__item {
            color: #001136;
            text-align: center;
            background: #ffffff;
            box-shadow: 0px 7px 5px #ffffff;
            padding: 25px;
            width: 150px;
            height: 150px;
            border-radius: 100%;
            h6 {
              font-size: 18px;
            }
            p {
              font-size: 14px;
              opacity: 0.45;
            }
          }
        }
        .services__item__active {
          .inner__item {
            h6 {
              color: #fb7d76;
            }
          }
        }
        .services__item__one {
          background: url("../images/services/NumberOne.png");
          background-size: contain;
          background-repeat: no-repeat;
        }
        .services__item__two {
          background: url("../images/services/NumberTwo.png");
          background-repeat: no-repeat;
          background-size: contain;
        }
        .services__item__three {
          background: url("../images/services/NumberThree.png");
          background-repeat: no-repeat;
          background-size: contain;
        }
        .services__item__four {
          background: url("../images/services/NumberFour.png");
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .services__content {
        margin-top: 55px;
        p {
          color: #001136;
          opacity: 0.45;
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 1199.98px) {
  .work__item__seven {
    left: 0 !important;
    .circle__white {
      right: 0 !important;
    }
  }
  .work__item__one {
    left: 25px !important;
    .circle__white {
      left: 0 !important;
    }
  }
  .work__item__four {
    right: 50px !important;
    .circle__white {
      right: -35px !important;
    }
  }
}
@media (max-width: 991.98px) {
  #what__we__do {
    background: url("../images/services/Group112.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    .free__services__items {
      flex-direction: column !important;
    }
    .line__items {
      background: url("../images/services/Group1037.png");
      width: 100%;
      height: 1024px;
      background-repeat: no-repeat;
      background-size: cover;
      img {
        display: none !important;
      }
    }
    .line__items {
      .work__item {
        position: relative !important;
        text-align: unset !important;
        top: 0 !important;
        .circle__white {
          top: 0 !important;
        }
      }
      .work__item__one {
        text-align: left !important;
        top: 0 !important;
        left: 45px !important;
        .circle__white {
          left: -50px !important;
        }
      }
      .work__item__two {
        text-align: right !important;
        left: -45px !important;
        .circle__white {
          top: 0 !important;
          left: unset !important;
          right: -40px !important;
        }
      }
      .work__item__three {
        text-align: left !important;
        left: -45px !important;
        .circle__white {
          top: 0 !important;
          left: unset !important;
          right: -40px !important;
        }
      }
    }
    .free__services__items {
      align-items: center;
      .services__item {
        display: block !important;
        margin-bottom: 70px;
      }
    }
  }
}
@media (max-width: 768.98px) {
}
@media (max-width: 575px) {
}
